<p>mortgage-calculator works!</p>
<form (ngSubmit)="calculateResult()">
    <label>House price:
        <input type="number" [(ngModel)]="housePrice" placeholder="780000" name="housePrice" autocomplete="off">
    </label><br/>
    <label>Deposit amount:
        <input type="number" [(ngModel)]="deposit" placeholder="156000" name="deposit" autocomplete="off">
    </label><br />
    <label>Interest rate:
        <input type="number" [(ngModel)]="interestRate" placeholder="4" name="interestRate" autocomplete="off"> <label>% per annum</label>
    </label><br />
    <label>Loan term:
        <input type="number" [(ngModel)]="term" placeholder="25" name="term" autocomplete="off"> <label>years</label>
    </label><br />
    
    <input type="submit" value="Calculate" >
    <div>
        <span>{{result}}</span>
    </div>
</form>