/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

h1 {
  color: #3f51b5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}

.dash-button {
  margin: 2%;
  text-align: center;
  min-width: 250px;
  text-decoration: none;
}

.dash-button:hover mat-card{
  color: #3f51b5;
}
.dash-button:hover.disabled mat-card{
  opacity: 0.3;
  color: black;
}

.big-icon {
  font-size: 200px;
  margin-left: -190px;
}

.result {
  color: #369;
  font-weight: bold;
  font-size: 125%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}